*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial;
}
html,body{
    width: 100%;
    background-color: #f4f4f4;
    height: 1000px;
}
.wrapper{
    height: 100%;
    width: 100%;
}
/*导航条开始*/
.wrapper .top-nav-wrap{
    width: 100%;
    height: 35px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
}
.wrapper .top-nav-wrap .top-nav{
    width: 1190px;
    height: 35px;
    margin: 0 auto;
}
.wrapper .top-nav-wrap .top-nav .top-nav-l{
    float: left;
}
.wrapper .top-nav-wrap .top-nav .top-nav-r{
    float: right;
}
.wrapper .top-nav-wrap .top-nav li{
    float: left;
    margin-right: 7px;
}
.wrapper .top-nav-wrap .top-nav li a{
    color: #6c6c6c;
    font-size: 12px;
    line-height: 35px;
    padding: 0 6px;
}
.wrapper .top-nav-wrap .top-nav li a:hover,
.wrapper .top-nav-wrap .top-nav li .login {
    color: #f40;
}
.wrapper .top-nav-wrap .top-nav li .china-Span{
    color: #3c3c3c;
    font-size: 12px;
    line-height: 35px;
    padding:  0 6px;
}
.wrapper .top-nav-wrap .top-nav .cutoff span{
    color: #ddd;
    line-height: 35px;
}
.wrapper .top-nav-wrap .top-nav .bgPic{
    display: inline-block;
    width: 6px;
    height: 3px;
    vertical-align: middle;
    background-size: 100% 100%;

}
.wrapper .top-nav-wrap .top-nav .xsjPic{
    background-image:url("../img/xsj.png");
}
.wrapper .top-nav-wrap .top-nav .shopCarPic{
    width: 12px;
    height: 12px;
    background-image: url("../img/gwc.png");
}
.wrapper .top-nav-wrap .top-nav .likePic{
    height: 12px;
    width: 12px;
    background-image: url("../img/star.png");
}
.wrapper .top-nav-wrap .top-nav .webNavPic{
    background-image: url("../img/dh.png");
    height: 10px;
    width: 10px;
}
/*导航条结束*/

/*搜索部分*/
.wrapper .search-wrap{
    width: 100%;
    height: 97px;
    background-color: #fff;
    /*border: 1px solid black;*/
    padding-top: 24px;
    padding-bottom: 9px;
}
.wrapper .search-wrap .search-content{
    width: 1190px;
    height: 88px;
    margin: 0 auto;
    border: 1px solid black;
}
.wrapper .search-wrap .search-content .logo-box{
    display: inline-block;
    width: 190px;
    height: 80px;
    /*border: 1px solid black;*/
    vertical-align: middle;
}
.wrapper .search-wrap .search-content .logo-box img{
    width: 100%;
    height: 100%;
}
.wrapper .search-wrap .search-content .search-box{
    display: inline-block;
    width: 627px;
    height: 87px;
    border: 1px solid black;
    vertical-align: middle;
}
.wrapper .search-wrap .search-content .search-box .search-hd{
    width: 627px;
    height: 62px;
    border: 1px solid black;
}
.wrapper .search-wrap .search-content .search-box .search-hd .search-tab{
    width: 610px;
    height: 22px;
    margin-left: 17px;
    border: 1px solid black;
}
.wrapper .search-wrap .search-content .search-box .search-hd .search-tab li{
    float: left;
    width: 36px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    color: #f40;
}
.wrapper .search-wrap .search-content .search-box .search-ft{
    width: 586px;
    height: 18px;
    border: 1px solid black;
}

.wrapper .search-wrap .search-content .code-box{
    display: inline-block;
    width: 79px;
    height: 90px;
    border: 1px solid black;
    vertical-align: middle;
}